body{
    margin: 3%;
    border:1px solid;
}

.content{
    text-align:left;
    margin: 2% 2%;
    font-size:20px;
    line-height:1.5;
}
h1 {
    text-align:center;
    letter-spacing: .2rem;
}

h2{
    margin:0 21%;
    letter-spacing: .4rem;
    text-align:center;
    color:#006EB6;
    font-size: 13px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

main{
    margin:5% 21%;
}
p{
    margin-top: 2%;
}

ol {
    list-style-position: inside; /* Moves the numbers inside to align with the text */
    margin: auto;       /* Keeps the list centered */
    text-align: left;     /* Aligns the text to the left inside the centered list */
    width: fit-content;   /* Ensures the width is only as wide as the content */
    margin-top:2%;
}

ol li {
    margin-bottom:10px;
}

footer{
    margin-top:50px;
    text-align:center;
}

.dark{
    background-color: #333;
    color: #829e92;
}